<div class="container-fluid add-beneficiary derivative-family-container">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-sky" heading="Create Derivative Beneficiary Family">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div class="tab-container tab-left tab-sky">
          <div class="tab-content">
              <div class="row">
                <div class="col-md-12">
                  <form role="form" class="form-horizontal form-elements">
                    <fieldset>
                      <legend>General Info</legend>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Title <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Miss</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">First Name <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Ragavi</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group ">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Middle Name <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Nandhini</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Last Name <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Elango</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Gender <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Female</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">DOB <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">11/11/1990</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="location" class="col-sm-6 col-md-6 control-label font-bold">City of Birth <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Chennai</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">State/Province of Birth <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Tamilnadu</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Country of Birth <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">India</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Nationality/ Citizenship <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">India</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6">
                          <div class="form-group">
                            <label class="col-sm-6 col-md-6 control-label font-bold">Relationship with petitioner <span class="p-l-8"> : </span></label>
                            <div class="col-sm-6 col-md-6">
                              <label class="control-label">Brother</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </panel>
    </div>
  </div>
</div> <!-- container-fluid -->
