<div class="row search-container collapse" style="height:22px;">
  <div class="col-lg-12">
    <div ng-show="caseSrCtrl.loadingFromQParam" class="row chips-container">
      <div class="row">
        <a ui-sref="home.cases" ng-click="caseSrCtrl.closeSearch()" class="pull-right m-r-10"><i class="fa fa-close"></i></a>
        <a class="pull-right m-r-10"><i class="fa fa-plus" ng-click="caseSrCtrl.toggleSearchTags()"></i></a>
      </div>
      <label class="chip" ng-repeat="(key,value) in caseSrCtrl.displayQ">
        {{caseSrCtrl.searchTagLabels[key]}} : {{value}}
        <i class="fa fa-close" ng-click="caseSrCtrl.removeSearchTags(key)"></i>
      </label>
    </div>
    <div ng-hide="caseSrCtrl.loadingFromQParam" class="row">
      <div class="row">
        <a ui-sref="home.cases" class="pull-right m-r-10"><i class="fa fa-close"></i></a>
        <a ng-show="caseSrCtrl.searchTagsCount > 0" class="pull-right m-r-10"><i class="fa fa-minus" ng-click="caseSrCtrl.toggleSearchTags()"></i></a>
      </div>
      <legend>Search Case</legend>
      <form class="form-horizontal" ng-submit="caseSrCtrl.search()">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Case Type</label>
              <div class="col-sm-6">
                <!-- <select ng-model="caseSrCtrl.q.caseType" class="form-control"></select> -->
                <ui-select ng-model="caseSrCtrl.q.casetype" theme="select2" name="marital_status" class="form-control" ng-change="caseSrCtrl.setSearchDisplay()">
                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices data-id="$index" value="case.id" repeat="case.id as case in caseSrCtrl.caseTypes | filter: $select.search">
                    <div ng-bind-html="case.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary m-r-10">
                <i class="glyphicon glyphicon-search"></i>
                Search
              </button>
              <button class="btn btn-default" ng-click="caseSrCtrl.reset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
