<div class="create-container">
  <i class="fa fa-close c-r" ui-sref="home.formtemplate"></i>
  <legend>View Form Template</legend>
  <form role="form" class="form-horizontal" name="formtemplate" novalidate>
    <div class="row">
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group">
          <label class="col-xs-6 col-sm-6 col-md-6 field-label control-label">Name</label>
          <label class="col-xs-1 col-sm-1 col-md-1 text-center p-t-8 font-bold">:</label>
          <label class="col-xs-5 col-sm-5 col-md-5 p-t-8">{{fTempViCtrl.formTemplate.name}}</label>
        </div>
      </div>
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group">
          <label class="col-xs-6 col-sm-6 col-md-6 field-label control-label">Description</label>
          <label class="col-xs-1 col-sm-1 col-md-1 text-center p-t-8 font-bold">:</label>
          <label class="col-xs-5 col-sm-5 col-md-5 p-t-8">{{fTempViCtrl.formTemplate.description}}</label>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-6" >
        <div class="form-group">
          <label class="col-xs-6 col-sm-6 col-md-6 field-label control-label">File</label>
          <label class="col-xs-1 col-sm-1 col-md-1 text-center p-t-8 font-bold">:</label>
          <label class="col-xs-5 col-sm-5 col-md-5 p-t-8">{{fTempViCtrl.formTemplate.file_name}}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <a class="btn btn-default" ui-sref="home.formtemplate">Cancel</a>
      </div>
    </div>
  </form>
 </div>
