<div class="create-container">
  <i class="fa fa-close c-r" ui-sref="home.workflows"></i>
  <legend>View Workflow</legend>
  <form role="form" class="form-horizontal" name="workflowForm" novalidate>
    <div class="row">
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group">
          <label class="col-xs-6 col-sm-6 col-md-6 field-label control-label">Name</label>
          <label class="col-xs-1 col-sm-1 col-md-1 text-center font-bold p-t-8">:</label>
          <label class="col-xs-5 col-sm-5 col-md-5 p-t-8">{{workViCtrl.workflow.workflow_name}}</label>
        </div>
      </div>
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group">
          <label class="col-xs-6 col-sm-6 col-md-6 field-label control-label">Description</label>
          <label class="col-xs-1 col-sm-1 col-md-1 text-center font-bold p-t-8">:</label>
          <label class="col-xs-5 col-sm-5 col-md-5 p-t-8">{{workViCtrl.workflow.description}}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <a class="btn btn-default" ui-sref="home.workflows">Cancel</a>
      </div>
    </div>
  </form>
 </div>
