<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal form-elements i129h-form" name="EmployerForm">
      <fieldset>
        <legend>I129H Data</legend>
        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Number of Beneficiaries <span class="p-l-8"> : </span></label>
            <div class="col-sm-6 col-md-6">
              <label class="control-label">2000</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Classification Sought <span class="p-l-8"> : </span></label>
            <div class="col-sm-6 col-md-6">
              <label class="control-label">3216459899</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Are you filing this petition on behalf of a beneficiary subject to
              the Guam-CNMI cap exemption under Public Law 110-229 <span class="p-l-8"> : </span></label>
            <div class="col-sm-6 col-md-6">
              <label class="control-label">Yes</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold"> Are you requesting a change of employer and was the beneficiary
             previously subject to the Guam-CNMI cap exemption under Public Law 110-229? <span class="p-l-8"> : </span></label>
            <div class="col-sm-6 col-md-6">
              <label class="control-label">Yes</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Does any beneficiary in this petition have ownership interest in
              the petitioning organization? <span class="p-l-8"> : </span></label>
            <div class="col-sm-2 col-md-2">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4">
              <label class="control-label">YESSSSSS</label>
            </div>
          </div>
        </div>
        <legend>Describe the proposed duties.</legend>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Describe the beneficiary' s present occupation and summary of prior work experience <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Description</label>
              </div>
            </div>
          </div>
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Signatory to The Petition <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">singnature</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="i129Ctrl.classification == 'H1B2'">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Signatory to The Petition (only applicable for H1B2 case) <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">H1bbbb</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="i129Ctrl.classification == 'H1B2'">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Signatory DoD Project Manager (only applicable for H1B2 case) <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Project Manager</label>
              </div>
            </div>
          </div>
        </div>
        <legend>Only for H2A/H2B</legend>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Explain temporary need for workers service <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Worker needs</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">List the countries of citizenship for the H-2A or H-2B workers you plan to hire <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">India</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label justify font-bold">Did any of the H-2MI-2B workers that you are requesting pay you, or an
                agent, a job placement fee or other form of compensation (either direct or indirect) as a condition of the employment,
                 or do they have an agreement to pay you or the service such fees at a later date? The phrase "fees or other compensation"
                 includes, but is not limited to, petition fees, attorney fees, recruitment costs, andany other feesthat are a condition of a
                 beneficiary's employment that the employer is prohibited from passing to the H-2A or H-2B worker under law under U.S.
                 Department of Labor rules. This phrase does not include reasonable travel expenses andcertain government-mandated fees
                 (such aspassport fees) that are not prolnbited from being passed to the H-2A or H-2B worlrer by statute,regulations, or any
                 laws. <span class="p-l-8"> : </span></label>
               <div class="col-sm-6 col-md-6">
                 <label class="control-label">Yes</label>
               </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group col-md-12">
              <label class="radio-inline control-label">
                <input iCheck type="radio" name="fee" value="Yes"> Yes
              </label>
              <label class="radio-inline control-label">
                <input iCheck type="radio" name="fee" value=""> No
              </label>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Ifyes, list the types and amounts of fees that the worker(s) paid or
                will pay <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">1500000</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">If the workers paid any fee or compensation, were they reimbursed? <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div><div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">If the workers agreed to pay a fee that they have not yet been paid, has
                their agreement been terminated before the workers paid the fee? (Submit evidence of termination or reimbursement with
                this petition.) <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Have you made reasonable inquiries to determine that to the best of your
                knowledge the recruiter, facilitator, or similar employment service that you used has not collected, and will not collect,
                 directly or indirectly, any fees or other compensation from the H-2 workers of this petition as a condition of the H-2
                 workers' employment? <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever had an H-2A or H-2B petition denied or revoked because
                 an employee paid ajob  placement fee or other similar compensation as a condition of thejob offer or employment?<span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4">
                <label class="control-label">144</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Have any of the workers you are requesting experienced an interrupted
                stay associated with their entry as an H-2A or H-2B? (See form instructions for more information on interrupted stays.)<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">If you are an H-2A petitioner, are you a participant in the E-Verify program?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">If yes, provide the E-Verify Company ID or Client Company ID.<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">654645</label>
              </div>
            </div>
          </div>
        </div>
        <legend>Only for H2A/H2B</legend>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Name of The Signatory Petitioner<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Tejaja</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Name of Employer Who is not a Petitioner<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Ragav</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Name of Joint Employer (if applicable) <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Veerrrr</label>
              </div>
            </div>
          </div>
        </div>
        <legend>Only for H3</legend>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Is the training you intend to provide, or similar training,
                available in the beneficiary's country?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Will the training benefit the beneficiary in pursuing a career abroad?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Does the training involve productive employment incidental to the
                training?  If yes, explain the amount of compensation employment versus the classroom in Part 9.of Form 1-129 <span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Does the beneficiary already have skills related to the training?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Is this training an effort to overcome a labor shortage?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">Do you intend to employ the beneficiary abroad at the end of this training?<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <div class="form-group">
              <label class="col-sm-6 col-md-6 control-label font-bold">If you do not intend to employ the beneficiary abroad at the end of
                this training, explain why you wish to incur the cost of providing this training and your expected return from this training.<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6">
                <label class="control-label">Yes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <a type="button" ui-sref="home.dependentView" class="btn btn-default">Next</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
