<div role="tabpanel" class="tab-pane">
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal form-elements" name="generalForm">
        <fieldset>
          <legend>General Info</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Title <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.vTitle.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">First Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.first_name}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Middle Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.middle_name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Last Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.last_name}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Gender <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.vGender.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">DOB <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.date_of_birth}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Marital Status <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.vMaritalStatus.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">City of Birth <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.places.metaLocation.city}}</label>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">State/Province of Birth <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.places.metaLocation.state}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Country of Birth <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                    <label class="control-label">{{bGenCtrl.places.metaLocation.country}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Nationality/ Citizenship <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.vCountry.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Email <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.email.email}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Day phone <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.day_phone.number}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Evening phone <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.evening_phone.number}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Cell phone <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.cell_phone.number}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">SSN(if any) <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.social_security_number}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Major field of study <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.specialization}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Degree <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.qualification}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Non-Immigrant Status <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.vImmigrationStatuses.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Non-Immigrant Status Exp.Date <span class="p-l-8"> :</span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">{{bGenCtrl.general.immigration.non_immigrant_status_expiry_date}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center col-md-12">
            <a ng-if="bfCtrl.beneficiary.id" ui-sref="home.viewBeneficiary.address" class="btn btn-default">Next</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
