<div class="create-container">
  <i class="fa fa-close c-r" ui-sref="home.documentChecklist"></i>
  <legend>{{docChecklistFormCtrl.title}} Document Checklist</legend>
  <form role="form" class="form-horizontal" ng-submit="documentChecklistForm.$valid && docChecklistFormCtrl.createDocumentChecklist(documentChecklistForm)" name="documentChecklistForm" novalidate>
    <div class="row">
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group" ng-class="{'has-error':(documentChecklistForm.name.$error.required || documentChecklistForm.name.$error.availability) && (documentChecklistForm.name.$touched|| documentChecklistForm.name.$dirty || documentChecklistForm.$submitted)}">
          <label class="col-sm-3 col-md-4 control-label">Name</label>
          <div class="col-sm-7 col-md-7">
            <input type="text" ng-disabled="docChecklistFormCtrl.edit" name="name" ng-model="docChecklistFormCtrl.documentChecklist.name" class="form-control" ng-change="docChecklistFormCtrl.setAvailability(documentChecklistForm.name)" required/>
            <ng-messages for="documentChecklistForm.name.$error" ng-if='documentChecklistForm.name.$touched ||documentChecklistForm.name.$dirty || documentChecklistForm.$submitted' class="help-block" role="alert">
              <ng-message when="required">Name is required</ng-message>
              <ng-message when="availability">Name already taken</ng-message>
            </ng-messages>
          </div>
          <div class="col-sm-1 col-md-1">
            <i class="fa fa-circle mandatory"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-sm-12 col-md-6">
        <div class="form-group" ng-class="{'has-error':(documentChecklistForm.discription.$error.required) && (documentChecklistForm.discription.$touched|| documentChecklistForm.discription.$dirty || documentChecklistForm.$submitted)}">
          <label class="col-sm-3 col-md-4 control-label">Description</label>
          <div class="col-sm-7 col-md-7">
            <input type="text" ng-disabled="docChecklistFormCtrl.edit" ng-model="docChecklistFormCtrl.documentChecklist.description" name="discription" class="form-control" required/>
            <ng-messages for="documentChecklistForm.discription.$error" ng-if='documentChecklistForm.discription.$touched ||documentChecklistForm.discription.$dirty || documentChecklistForm.$submitted' class="help-block" role="alert">
              <ng-message when="required">Description is required</ng-message>
            </ng-messages>
          </div>
          <div class="col-sm-1 col-md-1">
            <i class="fa fa-circle mandatory"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!docChecklistFormCtrl.edit">
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-r-10" value="Save">
             Save
      </button>
      <a class="btn btn-default" ui-sref="home.documentChecklist">
             Cancel
          </a>
        </div>
      </div>
  </form>
 </div>
