<div class="beneficiary-bg">
  <fieldset>
    <legend>Questionnaire</legend>
    <form role="form" class="form-horizontal form-elements" name="user_details">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label text-left font-bold">This appearance relates to immigration matters before<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6 p-t-8">
            <label class="control-label">USCIS</label>
          </div>
          <!-- <div class="col-sm-2 col-md-2 p-t-8">
            <input type="text" ng-model="claimed.name"  ng-hide="citizen!= 'Yes'" class="form-control"/>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label text-left font-bold">You are entering appearance as attorney accrediated representative at the request of<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
            <label class="control-label">Applicant</label>
          </div>
          <!-- <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Comment here</label>
          </div> -->
        </div>
      </div>
      <legend>Information about Applicant, Petitioner, Requestor, Respondent</legend>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">USCIS ELIS account number<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
              <label class="control-label">975327222</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">Alien Registration number<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
              <label class="control-label">5325432</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">Daytime phone number<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
              <label class="control-label">31456456465</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">Mobile phone number<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
              <label class="control-label">9874563214</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">Email Address<span class="p-l-8"> : </span></label>
          <div class="col-sm-6 col-md-6">
              <label class="control-label">latha@gmail.com</label>
          </div>
        </div>
      </div>
      <div class="text-center col-md-12">
        <a ui-sref="home.beneficiaryFamilyView.general" class="btn btn-default">Next</a>
      </div>
  </form>
</fieldset>
</div>
