<div class="row search-container collapse" style="height:22px;">
  <div class="col-lg-12">
    <div ng-show="bSearchCtrl.loadingFromQParam" class="row chips-container">
      <div class="row">
        <a ui-sref="home.beneficiaries" ng-click="bSearchCtrl.closeSearch()" class="pull-right m-r-10"><i class="fa fa-close"></i></a>
        <a class="pull-right m-r-10"><i class="fa fa-plus" ng-click="bSearchCtrl.toggleSearchTags()"></i></a>
      </div>
      <label class="chip" ng-repeat="(key,value) in bSearchCtrl.displayQ">
        {{bSearchCtrl.searchTagLabels[key]}} : {{value}}
        <i class="fa fa-close" ng-click="bSearchCtrl.removeSearchTags(key)"></i>
      </label>
    </div>
    <div ng-hide="bSearchCtrl.loadingFromQParam" class="row">
      <div class="row">
        <a ui-sref="home.beneficiaries" class="pull-right m-r-10"><i class="fa fa-close"></i></a>
        <a ng-show="bSearchCtrl.searchTagsCount > 0" class="pull-right m-r-10"><i class="fa fa-minus" ng-click="bSearchCtrl.toggleSearchTags()"></i></a>
      </div>
      <legend>Search Beneficiary</legend>
      <form class="form-horizontal" ng-submit="bSearchCtrl.search()">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-6">
                <input ng-model="bSearchCtrl.q.first_name" type="text" class="form-control" ng-change="bSearchCtrl.setSearchDisplay()">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-6">
                <input ng-model="bSearchCtrl.q.last_name" type="text" class="form-control" ng-change="bSearchCtrl.setSearchDisplay()">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 col-md-3 control-label">Gender</label>
              <div class="col-sm-7 col-md-8 p-t-8">
                <label class="radio-inline control-label" ng-repeat="gender in bSearchCtrl.genders | orderBy: 'id'">
                  <input iCheck type="radio" name="gender" ng-model="bSearchCtrl.q.gender" id="inlineradio1" ng-value="gender.id" ng-change="bSearchCtrl.setSearchDisplay()"/> {{gender.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Date of Birth</label>
              <div class="col-sm-6">
                <input custom-datepicker type="text" ng-model="bSearchCtrl.q.date_of_birth" name="dob" class="form-control" format="yyyy-mm-dd" ng-change="bSearchCtrl.setSearchDisplay()" readonly/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Case Type</label>
              <div class="col-sm-6">
                <!-- <select ng-model="bSearchCtrl.q.caseType" class="form-control"></select> -->
                <ui-select ng-model="bSearchCtrl.q.casetype" theme="select2" name="marital_status" class="form-control" ng-change="bSearchCtrl.setSearchDisplay()">
                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices data-id="$index" value="case.id" repeat="case.id as case in bSearchCtrl.caseTypes | filter: $select.search">
                    <div ng-bind-html="case.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Case Status</label>
              <div class="col-sm-6">
                <!-- <select ng-model="bSearchCtrl.q.caseStatus" class="form-control"></select> -->
                <ui-select ng-model="bSearchCtrl.q.casestatus" theme="select2" name="marital_status" class="form-control" ng-change="bSearchCtrl.setSearchDisplay()">
                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices data-id="$index" value="case.id" repeat="case.id as case in bSearchCtrl.caseStatus | filter: $select.search">
                    <div ng-bind-html="case.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Beneficiary Status</label>
              <div class="col-sm-6">
                <!-- <select ng-model="bSearchCtrl.q.beneficiaryStatus" class="form-control"></select> -->
                <ui-select ng-model="bSearchCtrl.q.beneficiarystatus" theme="select2" name="marital_status" class="form-control" ng-change="bSearchCtrl.setSearchDisplay()">
                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices data-id="$index" value="case.id" repeat="case.id as case in bSearchCtrl.beneficiaryStatus | filter: $select.search">
                    <div ng-bind-html="case.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary m-r-10">
                <i class="glyphicon glyphicon-search"></i>
                Search
              </button>
              <button class="btn btn-default" ng-click="bSearchCtrl.reset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
