<div role="tabpanel" class="tab-pane" id="employment">
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal history-form form-elements" name="">
        <fieldset>
          <legend>Questions</legend>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Are you related to beneficiary by adoption?</label>
              <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="adoption"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="adoption"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="adoption" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Did you get permanent residence through adoption?</label>
              <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="residence" value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="residence" value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="residence" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">If you are a lawful permanent resident alien,
                complete the following</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="lawful"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="lawful"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="lawful" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Did you gain permanent resident status through marriage
                to a US citizen or a lawful permanent resident?</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="marriage"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="marriage"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="marriage" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">If filing for your spouse, give last address at
                which you lived together?</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="spouse"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="spouse"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="spouse" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Have you ever before filed a petition for this or any other alien?</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="petition"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="petition"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="petition" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Has your relative ever been in the U.S.?</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="relative"  value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="relative"  value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="relative" class="form-control"/>
              </div>
            </div>
          </div>
          <legend>If your relative is currently in the U.S., complete the following:</legend>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label">He or she arrived as a</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                  <select ng-model="relative_purpose" class="form-control">
                    <option value=""></option>
                    <option value="visitor">Visitor</option>
                    <option value="student">Student</option>
                    <option value="crewMember">Crew Member</option>
                    <option value="other">Other</option>
                  </select>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="relative_purpose == 'other'" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label ">Has your relative ever been under immigration proceedings?</label>
                <div class="col-sm-2 col-md-2 p-t-8">
                <label class="radio-inline control-label">
                  <input iCheck type="radio" ng-model="immigration" value="Yes"> Yes
                </label>
                <label class="radio-inline control-label">
                  <input iCheck type="radio"  ng-model="immigration" value=""> No
                </label>
              </div>
              <div class="col-sm-4 col-md-4 p-t-8">
                <input type="text" ng-show="immigration" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label">Address in the United States where your relative intends to live.</label>
              <div class="col-sm-6 col-md-6 p-t-8">
                <input type="text" class="form-control"/>
              </div>
            </div>
          </div>
          <legend>Relative Information</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Child Name</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Spouse Name</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Relationship</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Date of Birth</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Citizenship</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <legend>Below questions are applicable only in case of petition for permenent residence or adjust of status (I 485)</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Date of last arrival</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="lastArrival" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">I 94 number</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Current USCIS status</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">I 94 expires on</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="lastArrival" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Name as it appears on I 94</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Place of last entry into USA</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">In what status did you last enter</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-4 col-md-3 control-label">Were you inspected by a US Immigration officer</label>
                <div class="col-sm-7 col-md-8 p-t-8">
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="inspected" value="yes"/> Yes
                  </label>
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="inspected" value="no" /> No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Non immigrant visa number</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Consulate where Visa was issued</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Date Visa issued</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label">Have you ever applied for permanent resident status in USA?</label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-4 col-md-4 p-t-8">
                    <label class="radio-inline control-label">
                      <input iCheck type="radio" name="applied" ng-model="applied" value="yes"/> Yes
                    </label>
                    <label class="radio-inline control-label">
                      <input iCheck type="radio" name="applied" ng-model="applied" value="" /> No
                    </label>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-7">
                    <input type="text" ng-show="applied" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <legend>List your present spouse and all your children</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Family Name</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Given Name</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Middle Initial</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">A-number (if any)</label>
                <div class="col-sm-7 col-md-8">
                   <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Applying with you?</label>
                <div class="col-sm-7 col-md-8">
                   <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <legend>List your present/past membership/affilliation to organizations /associations</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Name of Organization</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Location and Nature</label>
                <div class="col-sm-7 col-md-8">
                  <input type="text" name="" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">From Date</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">To Date</label>
                <div class="col-sm-7 col-md-8">
                  <input custom-datepicker type="text" name="" class="form-control" format="mm/dd/yyyy" readOnly/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label">Have you received public assistance in USA from any source
                  including Government, state, county , city, municipality or are you likely to receive public
                  assistance in future</label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-4 col-md-4 p-t-8">
                    <label class="radio-inline control-label">
                      <input iCheck type="radio" name="assistance" ng-model="assistance" value="yes"/> Yes
                    </label>
                    <label class="radio-inline control-label">
                      <input iCheck type="radio" name="assistance" ng-model="assistance" value="" /> No
                    </label>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-7">
                    <input type="text" name="" ng-show="assistance" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label">Are you requesting accomodation because of disabilities or impairments</label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-5 col-md-5 p-t-8">
                    <input iCheck type="checkbox" name="applied" ng-model="hearing" value="hearing"/> Dear /hard of hearing <br/>
                    <input iCheck type="checkbox" name="blind" ng-model="blind" value="blind" /> Blind sight impaired<br/>
                    <input iCheck type="checkbox" name="otherDisability" ng-model="other" value="other" /> Another type of disability/impairment<br/>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <input type="text" ng-show="other" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Can you read and Understand English</label>
                <div class="col-sm-7 col-md-8">
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="understandEnglish" value="yes"/> Yes
                  </label>
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="understandEnglish" value="no" /> No
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Are you using an interpreter</label>
                <div class="col-sm-7 col-md-8">
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="interpreter" value="yes"/> Yes
                  </label>
                  <label class="radio-inline control-label">
                    <input iCheck type="radio" name="interpreter" value="no" /> No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Save</button>
              <a class="btn btn-default">Next</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
