<div class="container-fluid profile-form">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-sky" heading="Change Password">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div class="tab-container tab-left tab-sky">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-12">
                <form role="form" class="form-horizontal form-elements" ng-submit="changePassForm.$valid && chPassCtrl.changePassword(changePassForm)" name="changePassForm" novalidate>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-1 col-md-3"></div>
                      <div class="col-xs-10 col-sm-12 col-md-6">
          	            <div class="form-group" ng-class="{'has-error':(changePassForm.oldPassword.$error.required || changePassForm.oldPassword.$error.wrongPass) && (changePassForm.oldPassword.$touched|| changePassForm.oldPassword.$dirty || changePassForm.$submitted)}">
          	              <label class="col-xs-3 col-sm-3 col-md-3 control-label">Current Password</label>
          	              <div class="col-xs-7 col-sm-7 col-md-8">
          	                <input type="password" name="oldPassword" ng-model="chPassCtrl.password.old_password" class="form-control" ng-change="chPassCtrl.setWrongPass(changePassForm.oldPassword)" required/>
          	                <ng-messages for="changePassForm.oldPassword.$error" ng-if='changePassForm.oldPassword.$touched  ||changePassForm.oldPassword.$dirty || changePassForm.$submitted' class="help-block" role="alert">
          	                  <ng-message when="required">Current Password is required</ng-message>
                              <ng-message when="wrongPass">Enter your current password correctly</ng-message>
          	                </ng-messages>
          	              </div>
          	              <div class="col-xs-1 col-sm-1 col-md-1">
          	                <i class="fa fa-circle mandatory"></i>
          	              </div>
          	            </div>
          	          </div>
                      <div class="col-xs-1 col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-1 col-md-3"></div>
                      <div class="col-xs-10 col-sm-12 col-md-6">
          	            <div class="form-group" ng-class="{'has-error':(changePassForm.newPassword.$error.required || changePassForm.newPassword.$error.minlength||changePassForm.newPassword.$error.maxlength) && (changePassForm.newPassword.$touched|| changePassForm.newPassword.$dirty || changePassForm.$submitted)}">
          	              <label class="col-xs-3 col-sm-3 col-md-3 control-label">New Password</label>
          	              <div class="col-xs-7 col-sm-7 col-md-8">
          	                <input type="password" name="newPassword" ng-model="chPassCtrl.password.new_password" class="form-control" ng-change="chPassCtrl.checkPasswordMatch(changePassForm)" ng-minlength="8" ng-maxlength="16" required/>
          	                <ng-messages for="changePassForm.newPassword.$error" ng-if='changePassForm.newPassword.$touched||changePassForm.newPassword.$error.minlength ||changePassForm.newPassword.$error.maxlength ||changePassForm.newPassword.$dirty || changePassForm.$submitted' class="help-block" role="alert">
          	                  <ng-message when="required">Password is required</ng-message>
          	                  <ng-message when="minlength">Password must contain atleast 8 characters</ng-message>
          	                  <ng-message when="maxlength">Password can not contain more than 16 characters</ng-message>
          	                </ng-messages>
          	              </div>
          	              <div class="col-xs-1 col-sm-1 col-md-1">
          	                <i class="fa fa-circle mandatory"></i>
          	              </div>
          	            </div>
          	          </div>
                      <div class="col-xs-1 col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-1 col-md-3"></div>
                      <div class="col-xs-10 col-sm-12 col-md-6">
          	            <div class="form-group" ng-class="{'has-error':(changePassForm.confirmPassword.$error.required || changePassForm.confirmPassword.$error.minlength||changePassForm.confirmPassword.$error.maxlength || changePassForm.confirmPassword.$error.passnotmatch) && (changePassForm.confirmPassword.$touched|| changePassForm.confirmPassword.$dirty || changePassForm.$submitted)}">
          	              <label class="col-xs-3 col-sm-3 col-md-3 control-label">Confirm Password</label>
          	              <div class="col-xs-7 col-sm-7 col-md-8">
          	                <input type="password" name="confirmPassword" ng-model="chPassCtrl.confirmPassword" class="form-control" ng-minlength="8" ng-maxlength="16" ng-change="chPassCtrl.checkPasswordMatch(changePassForm)" required/>
          	                <ng-messages for="changePassForm.confirmPassword.$error" ng-if='changePassForm.confirmPassword.$touched||changePassForm.confirmPassword.$error.minlength ||changePassForm.confirmPassword.$error.maxlength ||changePassForm.confirmPassword.$dirty || changePassForm.$submitted' class="help-block" role="alert">
          	                  <ng-message when="required">Confirm password is required</ng-message>
          	                  <ng-message when="minlength">Confirm password must contain atleast 8 characters</ng-message>
          	                  <ng-message when="maxlength">Confirm password can not contain more than 16 characters</ng-message>
                              <ng-message when="passnotmatch">passwords don't match</ng-message>
          	                </ng-messages>
          	              </div>
          	              <div class="col-xs-1 col-sm-1 col-md-1">
          	                <i class="fa fa-circle mandatory"></i>
          	              </div>
          	            </div>
          	          </div>
                      <div class="col-xs-1 col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="text-center col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary m-r-10" />
                        <a class="btn btn-default" ng-click="chPassCtrl.getDashboard()">Cancel</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
</div>
