<div class="forgot-password-form">
	<div class="text-center immi-logo">
		<span>IMMIVERTEX</span>
	</div>
	<div class="panel panel-primary">
		<form name="forgotPassword" novalidate class="form-horizontal" ng-submit="forgotPassword.$valid && frPassCtrl.getResetPasswordLink(forgotPassword)" style="margin-bottom: 0px !important;">
		<div class="panel-body">
			<h3 class="text-center" style="margin-bottom: 25px;">Forgot Password </h3>
				<div class="form-group" ng-class="{'has-error':(forgotPassword.email.$error.required || forgotPassword.email.$error.pattern || forgotPassword.email.$error.availability) && (forgotPassword.email.$touched|| forgotPassword.email.$dirty || forgotPassword.$submitted)}">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input ng-model="frPassCtrl.user.email" type="email" name="email" class="form-control" placeholder="Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-change="frPassCtrl.setAvailability(forgotPassword.email)" required>
						</div>
						<ng-messages for="forgotPassword.email.$error" ng-if='forgotPassword.email.$touched || forgotPassword.email.$dirty || forgotPassword.$submitted' class="help-block" role="alert">
						 <ng-message when="required">Email is required</ng-message>
						 <ng-message when="pattern">Invalid email address</ng-message>
             <ng-message when="availability">Enter registered email</ng-message>
						</ng-messages>
					</div>
				</div>
    		<div class="row">
    			<div class="pull-right">
    				<input type="submit" value="Get Password" class="btn btn-primary"/>
    			</div>
          <div class="pull-left">
    				<a type="submit" href="#/login" class="btn btn-default">Cancel</a>
    			</div>
    		</div>
      </div>
	  </form>
	</div>
</div>
