<div class="container-fluid reset-password-form">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-sky" heading="Reset Password">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div class="tab-container tab-left tab-sky">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-12">
								<form name="resetPassword" novalidate class="form-horizontal" ng-submit="resetPassword.$valid && resetPassCtrl.updatePassword()" style="margin-bottom: 0px !important;">
						  		<div class="panel-body">
						  			<h3 class="text-center" style="margin-bottom: 25px;">Reset Password </h3>
						        <div class="row">
                      <div class="col-xs-1 col-md-3"></div>
						          <div class="col-xs-10 col-sm-12 col-md-6">
						            <div class="form-group" ng-class="{'has-error':(resetPassword.newPassword.$error.required || resetPassword.newPassword.$error.minlength||resetPassword.newPassword.$error.maxlength) && (resetPassword.newPassword.$touched|| resetPassword.newPassword.$dirty || resetPassword.$submitted)}">
						              <label class="col-xs-3 col-sm-3 col-md-3 control-label">New Password</label>
						              <div class="col-xs-7 col-sm-7 col-md-8">
						                <input type="password" name="newPassword" ng-model="resetPassCtrl.user.password" class="form-control" ng-minlength="8" ng-maxlength="16" ng-change="resetPassCtrl.checkPasswordMatch(resetPassword)" required/>
						                <ng-messages for="resetPassword.newPassword.$error" ng-if='resetPassword.newPassword.$touched||resetPassword.newPassword.$error.minlength ||resetPassword.newPassword.$error.maxlength ||resetPassword.newPassword.$dirty || resetPassword.$submitted' class="help-block" role="alert">
						                  <ng-message when="required">Password is required</ng-message>
						                  <ng-message when="minlength">Password must contain atleast 8 characters</ng-message>
						                  <ng-message when="maxlength">Password can not contain more than 16 characters</ng-message>
						                </ng-messages>
						              </div>
						              <div class="col-xs-1 col-sm-1 col-md-1">
						                <i class="fa fa-circle mandatory"></i>
						              </div>
						            </div>
						          </div>
                      <div class="col-xs-1 col-md-3"></div>
						        </div>
						        <div class="row">
                      <div class="col-xs-1 col-md-3"></div>
						          <div class="col-xs-10 col-sm-12 col-md-6">
						            <div class="form-group" ng-class="{'has-error':(resetPassword.confirmPassword.$error.required || resetPassword.confirmPassword.$error.minlength||resetPassword.confirmPassword.$error.maxlength || resetPassword.confirmPassword.$error.passnotmatch) && (resetPassword.confirmPassword.$touched|| resetPassword.confirmPassword.$dirty || resetPassword.$submitted)}">
						              <label class="col-xs-3 col-sm-3 col-md-3 control-label">Confirm Password</label>
						              <div class="col-xs-7 col-sm-7 col-md-8">
						                <input type="password" name="confirmPassword" ng-model="resetPassCtrl.confirmPassword" class="form-control" ng-minlength="8" ng-maxlength="16" ng-change="resetPassCtrl.checkPasswordMatch(resetPassword)" required/>
						                <ng-messages for="resetPassword.confirmPassword.$error" ng-if='resetPassword.confirmPassword.$touched||resetPassword.confirmPassword.$error.minlength ||resetPassword.confirmPassword.$error.maxlength ||resetPassword.confirmPassword.$dirty || resetPassword.$submitted' class="help-block" role="alert">
						                  <ng-message when="required">Confirm password is required</ng-message>
						                  <ng-message when="minlength">Confirm password must contain atleast 8 characters</ng-message>
						                  <ng-message when="maxlength">Confirm password can not contain more than 16 characters</ng-message>
						                  <ng-message when="passnotmatch">passwords don't match</ng-message>
						                </ng-messages>
						              </div>
                          <div class="col-xs-1 col-sm-1 col-md-1">
						                <i class="fa fa-circle mandatory"></i>
						              </div>
						            </div>
						          </div>
                      <div class="col-xs-1 col-md-3"></div>
						        </div>
						    		<div class="row text-center">
					    				<input type="button" ng-click="resetPassCtrl.skipResetPassword()" value="Skip" class="btn btn-default m-r-10"/>
					    				<input type="submit" value="Reset Password" class="btn btn-primary"/>
						    		</div>
						      </div>
							  </form>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
</div>
