<div class="create-container case-form">
  <i class="fa fa-close c-r" ui-sref="home.cases"></i>
    <div class="row">
      <div class="col-md-12">
        <form role="form" class="form-horizontal form-elements" ng-submit="caseForm.$valid && caseCrCtrl.save($event, caseForm)" name="caseForm" novalidate>
          <fieldset>
            <legend>Create Cases</legend>
            <div class="row animate-if" ng-if="caseCrCtrl.showAlert">
              <div class="col-sm-1 col-md-2 col-lg-3"></div>
              <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="alert-message">
                  <alert type="danger" close="caseCrCtrl.closeAlert()">
                    <span> Beneficiary does not exist <a ui-sref="home.beneficiaryForm" ng-click="caseCrCtrl.setPageRedirection()"> Create New Beneficiary</a></span>
                  </alert>
                </div>
              </div>
              <div class="col-sm-1 col-md-2 col-lg-3"></div>
            </div>
            <div class="row">
              <div class="col-xs-12  col-sm-12 col-md-6">
                <div class="form-group" ng-class="{'has-error':caseForm.beneficiary.$error.required && (caseForm.beneficiary.$dirty||caseForm.beneficiary.$touched || caseForm.$submitted)}">
                  <label class="col-sm-3 col-md-3 control-label">Beneficiary</label>
                  <div class="col-sm-7 col-md-8">
                    <input type="text" placeholder="Search Beneficiary" name="beneficiary" ng-model="caseCrCtrl.beneficiary" ng-change="caseCrCtrl.getBeneficiary(caseCrCtrl.beneficiary);" class="form-control" required>
                    <div auto-complete items="caseCrCtrl.beneficiaries" id="beneficiary" watch-for="caseCrCtrl.beneficiary" items-id="beneficiary" item-callback="caseCrCtrl.beneficiaryCallback" class="custom-autocomplete"></div>
                    <ng-messages for="caseForm.beneficiary.$error" ng-if='caseForm.beneficiary.$dirty|| caseForm.beneficiary.$touched || caseForm.$submitted' class="help-block" role="alert">
                     <ng-message when="required">Beneficiary is required</ng-message>
                   </ng-messages>
                  </div>
                  <div class="col-sm-1 col-md-1">
                    <i class="fa fa-circle mandatory"></i>
                  </div>
                </div>
              </div>
              <div class="col-xs-12  col-sm-12 col-md-6">
                <div class="form-group" ng-class="{'has-error':(caseForm.programCase.$error.required) && (caseForm.programCase.$touched|| caseForm.programCase.$dirty || caseForm.$submitted)}">
                  <label class="col-sm-3 col-md-3 control-label">Program Case</label>
                  <div class="col-sm-7 col-md-8">
                    <ui-select ng-model="casetype" theme="select2" name="programCase" class="form-control" required>
                      <ui-select-match>{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices data-id="$index" value="case.id" repeat="case.id as case in caseCrCtrl.caseTypes | filter: $select.search">
                        <div ng-bind-html="case.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                    <ng-messages for="caseForm.programCase.$error" ng-if='caseForm.programCase.$touched || caseForm.programCase.$dirty || caseForm.$submitted' class="help-block" role="alert">
                      <ng-message when="required">Program Case is required</ng-message>
                    </ng-messages>
                  </div>
                  <div class="col-sm-1 col-md-1">
                    <i class="fa fa-circle mandatory"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12  col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="col-sm-3 col-md-3 control-label">Premium</label>
                  <div class="col-sm-7 col-md-8 p-t-8">
                    <input type="checkbox" icheck name="premium" ng-model="caseCrCtrl.is_premium"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <input type="submit" value="Save" class="btn btn-primary m-r-10"/>
                <a class="btn btn-default" ui-sref="home.cases">
                   Cancel
                </a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
