<div class="container landing-page">
	<!-- <div class="progress" ng-show="loading">
		<div class="indeterminate"></div>
	</div> -->

					<!-- <div id="wrap" ng-animate="'view'" ui-view class="mainview-animation"> -->
			<ui-view></ui-view>
			<footer role="contentinfo" class="landing-footer" ng-show="!layoutLoading" ng-cloak>
				<div class="clearfix">
					<ul class="list-unstyled list-inline pull-left">
						<li>IMMIVERTEX &copy; 2016</li>
					</ul>
					<!-- <button class="pull-right btn btn-default btn-sm hidden-print" back-to-top style="padding: 1px 10px;"><i class="fa fa-angle-up"></i></button> -->
				</div>
			</footer>
		</div>
	</div>
</div>
