<div role="tabpanel" class="tab-pane" id="employment">
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal history-form form-elements" name="">
        <fieldset>
          <legend>Questions</legend>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Are you related to beneficiary by adoption? <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Did you get permanent residence through adoption? <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">If you are a lawful permanent resident alien,
                complete the following <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Did you gain permanent resident status through marriage
                to a US citizen or a lawful permanent resident? <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">If filing for your spouse, give last address at
                which you lived together? <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever before filed a petition for this or any other alien?
                <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">No</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Has your relative ever been in the U.S.?<span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <legend>If your relative is currently in the U.S., complete the following:</legend>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">He or she arrived as a <span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                  <label class="control-label">Visitor</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Other Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Has your relative ever been under immigration proceedings?<span class="p-l-8"> : </span></label>
              <div class="col-sm-2 col-md-2 ">
                <label class="control-label">Yes</label>
              </div>
              <div class="col-sm-4 col-md-4 ">
                <label class="control-label">Comment Here..</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12">
              <label class="col-sm-6 col-md-6 control-label font-bold">Address in the United States where your relative intends to live.<span class="p-l-8"> : </span></label>
              <div class="col-sm-6 col-md-6 ">
                <label class="control-label">New Yark</label>
              </div>
            </div>
          </div>
          <legend>Relative Information</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Child Name<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Ramya</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Spouse Name<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Ramesh</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Relationship<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Sister</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Date of Birth<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">11/11/1995</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Citizenship<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">India</label>
                </div>
              </div>
            </div>
          </div>
          <legend>Below questions are applicable only in case of petition for permenent residence or adjust of status (I 485)</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Date of last arrival<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">02/02/2016</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">I 94 number<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">32145645654</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Current USCIS status<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Active</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">I 94 expires on<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">15/04/2016</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Name as it appears on I 94<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Aaaaaaa</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Place of last entry into USA<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Los Angels</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">In what status did you last enter<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Active</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Were you inspected by a US Immigration officer<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6 ">
                  <label class="control-label">Yes</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Non immigrant visa number<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">1111111111</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Consulate where Visa was issued<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">India</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Date Visa issued<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">11/01/2016</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label font-bold">Have you ever applied for permanent resident status in USA?<span class="p-l-8"> : </span></label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-4 col-md-4 ">
                    <label class="control-label">Yes</label>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-7">
                    <label class="control-label">Comment Here..</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <legend>List your present spouse and all your children</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Family Name<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Kanaga</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Given Name<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Varsha</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Middle Initial<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Kanagag</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">A-number (if any)<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                   <label class="control-label">2222</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Applying with you? <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                   <label class="control-label">Ranni</label>
                </div>
              </div>
            </div>
          </div>
          <legend>List your present/past membership/affilliation to organizations /associations</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Name of Organization <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Ideas2it</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Location and Nature<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Chennai</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">From Date <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">25/04/2016</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">To Date <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">12/05/2016</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label font-bold">Have you received public assistance in USA from any source
                  including Government, state, county , city, municipality or are you likely to receive public
                  assistance in future<span class="p-l-8"> : </span></label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-4 col-md-4 ">
                    <label class="control-label">Yes</label>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-7">
                    <label class="control-label">Comment Here..</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-xs-12 col-sm-6 col-md-6 control-label font-bold">Are you requesting accomodation because of disabilities or impairments<span class="p-l-8"> : </span></label>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-5 col-md-5 ">
                    <label class="control-label">Dear /hard of hearing</label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <label class="control-label">Comment Here..</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-7 col-md-7 control-label font-bold">Can you read and Understand English<span class="p-l-8"> : </span></label>
                <div class="col-sm-5 col-md-5">
                  <label class="control-label">Yes</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Are you using an interpreter<span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">No</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <a ui-sref="home.viewPetitioner.documents" class="btn btn-default">Next</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
