<div role="tabpanel" class="tab-pane">
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal form-elements" ng-submit="generalForm.$valid" name="generalForm" novalidate>
        <fieldset>
          <legend>General Info</legend>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Title <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">tech@gmail.com</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">First Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Mani</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group ">
                <label class="col-sm-6 col-md-6 control-label font-bold">Middle Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Devaaaa</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Last Name <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Kanna</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Gender <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Female</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">DOB <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">24/4/1995</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Marital Status <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Single</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">City of Birth <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Chennai</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">State/ Province of Birth <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">Tamilnadu</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Country of Birth <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">India</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Nationality/ Citizenship <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">India</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">E-mail <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">rannnaa@gmail.com</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Day phone <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">9874563214</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Evening phone <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">3251456987</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">Cell phone <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">65497646456</label>
                </div>
              </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 col-md-6 control-label font-bold">SSN <span class="p-l-8"> : </span></label>
                <div class="col-sm-6 col-md-6">
                  <label class="control-label">5555555555</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-6 col-md-6">
              <label class="control-label font-bold">Have you ever been arrested, convicted or
                indicted for any crime committed in or outside the United States? <span class="p-l-8"> : </span>
              </label>
            </div>
            <div class="col-xs-12  col-sm-6 col-md-6 p-t-20">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="control-label">Yes</label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                  <label class="control-label">Yes Comment</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-sm-6 col-md-6">
              <label class="control-label font-bold">Have you ever committed any crime in or outside the
                United States for which you have not been arrested, convicted or indicted ? <span class="p-l-8"> : </span>
              </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 p-t-20">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="control-label">Yes</label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                  <label class="control-label">Yes Comment</label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center col-md-12 p-t-40">
            <a ui-sref="home.viewPetitioner.address" class="btn btn-default">Next</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
