<div class="container-fluid attorney-intake-form">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-sky" heading="Intake Form">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div class="tab-container tab-sky">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-12">
                <form role="form" class="form-horizontal form-elements" name="attorneyForm">
                  <fieldset>
                    <legend>Attorney</legend>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Name <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">Sadhana</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Firm Name <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">Ideas2it</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Address <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">K.K Nagar</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">City <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">Chennai</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">State <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">Tamilnadu</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Country <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">India</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Zip Code <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">6000001</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Bar Number <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">222222222222</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Phone Number <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">9840593287</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Fax <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">22223333333</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-6">
                        <div class="form-group">
                          <label class="col-sm-6 col-md-6 control-label font-bold">Email <span class="p-l-8"> : </span></label>
                          <div class="col-sm-6 col-md-6">
                            <label class="control-label">sadhana@gmail.com</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <a type="button" ui-sref="home.employerView.employment" class="btn btn-default">Next</a>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
</div>
