<div class="container-fluid interpreter-form">
  <div class="row">
    <div class="col-md-12">
      <panel panel-class="panel-sky" heading="Interpreter Statement">
        <panel-controls>
          <panel-control-collapse></panel-control-collapse>
        </panel-controls>
        <div class="tab-container tab-left tab-sky">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-12">
                <form role="form" class="form-horizontal form-elements" novalidate>
                  <h5>Below questions are applicable only in case of petition for permenent residence or adjust of status (I 485)</h5>
                  <legend>Interpreters details</legend>
                  <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Language Used <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">English</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Law Firm Name <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">Ideas2it Tech</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Day Phone Number <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">9874563214</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Have you prepared the form <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">Yes</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5>Signature of person preparing the form (if different from interpreter)</h5>
                  <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Full Name <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">Ragava</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Day Phone Number <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">78965412336</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Firm Name <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">IT Tech</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Firm Address <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">Chennai</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-6">
                      <div class="form-group">
                        <label class="col-sm-6 col-md-6 control-label font-bold">Firm Email Address <span class="p-l-8"> : </span></label>
                        <div class="col-sm-6 col-md-6">
                          <label class="control-label">tech@gmail.com</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center col-md-12">
                    <a type="button" ui-sref="home.attorneyFamilyView.general" class="btn btn-default">Next</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </panel>
    </div>
  </div>
</div>
