html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: Arial;
    width: 100%;
    height: 100%;
    position: static;
    overflow: hidden;
}
html, body, button, input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
}
/*body {
    overflow: hidden;
}*/
a, a:hover {
    color: #0967b2;
    text-decoration: none;
}
.eaContainer-SystemBarHolder {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    min-width: 350px;
}
.eaContainer-applicationHolder {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 500;
    min-width: 350px;
}
.eaContainer-applicationHolder_hidden {
    visibility: hidden;
}
.eaContainer-applicationHolder_animate_fadeOut {
    -webkit-animation: eaContainer-applicationHolder_fadeOut 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_fadeOut 0.3s ease both;
    animation: eaContainer-applicationHolder_fadeOut 0.3s ease both;
}
.eaContainer-applicationHolder_animate_fadeIn {
    -webkit-animation: eaContainer-applicationHolder_fadeIn 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_fadeIn 0.3s ease both;
    animation: eaContainer-applicationHolder_fadeIn 0.3s ease both;
}
.eaContainer-applicationHolder_animate_moveToLeft {
    -webkit-animation: eaContainer-applicationHolder_moveToLeft 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_moveToLeft 0.3s ease both;
    animation: eaContainer-applicationHolder_moveToLeft 0.3s ease both;
    overflow: hidden;
}
.eaContainer-applicationHolder_animate_moveFromLeft {
    -webkit-animation: eaContainer-applicationHolder_moveFromLeft 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_moveFromLeft 0.3s ease both;
    animation: eaContainer-applicationHolder_moveFromLeft 0.3s ease both;
    overflow: hidden;
}
.eaContainer-applicationHolder_animate_moveToRight {
    -webkit-animation: eaContainer-applicationHolder_moveToRight 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_moveToRight 0.3s ease both;
    animation: eaContainer-applicationHolder_moveToRight 0.3s ease both;
    overflow: hidden;
}
.eaContainer-applicationHolder_animate_moveFromRight {
    -webkit-animation: eaContainer-applicationHolder_moveFromRight 0.3s ease both;
    -moz-animation: eaContainer-applicationHolder_moveFromRight 0.3s ease both;
    animation: eaContainer-applicationHolder_moveFromRight 0.3s ease both;
    overflow: hidden;
}
.eaContainer-Spinner {
    position: absolute;
    display: block;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    text-align: center;
    opacity: 0;
    z-index: -1000;
}
.eaContainer-Spinner > img {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 28px);
}
.eaContainer-container-loading .eaContainer-applicationHolder {
    opacity: 0;
}
.eaContainer-container-loading .eaContainer-Spinner {
    z-index: 1000;
    opacity: 1;
}
@media print {
    .eaContainer-SystemBar {
        display: none;
    }
    .eaContainer-applicationHolder {
        top: inherit;
        overflow-y: inherit;
        position: relative;
    }
}

/* move from / to  */

@-webkit-keyframes eaContainer-applicationHolder_moveToLeft {
    to {
        -webkit-transform: translateX(-150%);
    }
}
@-moz-keyframes eaContainer-applicationHolder_moveToLeft {
    to {
        -moz-transform: translateX(-150%);
    }
}
@keyframes eaContainer-applicationHolder_moveToLeft {
    to {
        transform: translateX(-150%);
    }
}
@-webkit-keyframes eaContainer-applicationHolder_moveFromLeft {
    from {
        -webkit-transform: translateX(-150%);
    }
}
@-moz-keyframes eaContainer-applicationHolder_moveFromLeft {
    from {
        -moz-transform: translateX(-150%);
    }
}
@keyframes eaContainer-applicationHolder_moveFromLeft {
    from {
        transform: translateX(-150%);
    }
}
@-webkit-keyframes eaContainer-applicationHolder_moveToRight {
    to {
        -webkit-transform: translateX(150%);
    }
}
@-moz-keyframes eaContainer-applicationHolder_moveToRight {
    to {
        -moz-transform: translateX(150%);
    }
}
@keyframes eaContainer-applicationHolder_moveToRight {
    to {
        transform: translateX(150%);
    }
}
@-webkit-keyframes eaContainer-applicationHolder_moveFromRight {
    from {
        -webkit-transform: translateX(150%);
    }
}
@-moz-keyframes eaContainer-applicationHolder_moveFromRight {
    from {
        -moz-transform: translateX(150%);
    }
}
@keyframes eaContainer-applicationHolder_moveFromRight {
    from {
        transform: translateX(150%);
    }
}

/* Fade out / in */

@-webkit-keyframes eaContainer-applicationHolder_fadeOut {
    to {
        opacity: 0;
    }
}
@-moz-keyframes eaContainer-applicationHolder_fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes eaContainer-applicationHolder_fadeOut {
    to {
        opacity: 0;
    }
}
@-webkit-keyframes eaContainer-applicationHolder_fadeIn {
    from {
        opacity: 0;
    }
}
@-moz-keyframes eaContainer-applicationHolder_fadeIn {
    from {
        opacity: 0;
    }
}
@keyframes eaContainer-applicationHolder_fadeIn {
    from {
        opacity: 0;
    }
}

/*Intro page css*/

.ebIntroPage {
    position: absolute;
    display: table;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: -o-calc(100% - 45px);
    height: calc(100% - 45px);
}
.ebIntroPage-boxHolder {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.ebIntroPage-textBox {
    position: relative;
    display: block;
    vertical-align: middle;
    padding: 50px;
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 3px;
}
.ebIntroPage-header {
    position: relative;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.ebIntroPage-header-text {
    position: absolute;
    left: 250px;
    right: 0;
    bottom: 30px;
    margin-left: 15px;
    padding: 0;
    font-weight: bold;
}
.ebIntroPage-icon {
    position: relative;
    display: inline-block;
    background: no-repeat center;
}
.ebIntroPage-icon-header {
    width: 235px;
    height: 128px;
    background-image: url("container/resources/container/Intro_text.svg");
}
.ebIntroPage-icon-question, .ebIntroPage-icon-arrow {
    vertical-align: top;
    width: 24px;
    height: 24px;
}
.ebIntroPage-icon-arrow {
    background-image: url("container/resources/container/Intro_arrow.svg");
}
.ebIntroPage-icon-question {
    background-image: url("container/resources/container/Intro_question.svg");
}
.ebIntroPage-body h2 {
    border: none;
    padding: 0;
    padding-bottom: 15px;
}
.ebIntroPage-body-part {
    position: relative;
    display: inline-block;
    width: 45%;
}
.ebIntroPage-body-part:not(:first-child) {
    margin-left: 9%;
}
.ebIntroPage-body-container {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
}
@media screen and (max-width: 500px) {
    .ebIntroPage-textBox {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 400px;
    }
}
.eaFlyout {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s background-color;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    z-index: 500;
    display: none;
}
.eaFlyout-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-left: 2px solid #ddd;
    padding: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 80%;
    right: 0;
}
.eaFlyout-panelHeader {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);
}
.eaFlyout-panelContents {
    position: absolute;
    top: 55px;
    right: 16px;
    left: 16px;
    bottom: 10px;
    overflow: auto;
}
.eaFlyout-panel_animate {
    transition: 0.3s right ease-in-out, 0.3s opacity ease-in-out;
}
.eaFlyout_show {
    background-color: rgba(255, 255, 255, 0.6);
}
.eaFlyout-panelCloseIcon {
    float: right;
    cursor: pointer;
    margin-top: 7px;
}
.eaSystemTime {
    border-left: solid 1px #D2D2D2;
    line-height: 40px;
    vertical-align: top;
    padding: 0 10px;
}
.eaSystemTime-icon {
    background: url('../systemtime/resources/systemtime/clock_white_16px.svg');
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.eaSystemTime-time {
    vertical-align: middle;
    padding-left: 5px;
}
.eaSystemTime-timezone {
    vertical-align: middle;
    font-size: 10px;
}
.eaSystemTime:hover {
    background-color: #e8e8e8;
}
.eaLogoutButton {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}
.eaLogoutButton-link {
    color: #0066B3;
    font-size: 1.2rem;
    padding: 0 18px 0 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 18px center;
    border-left: solid 1px #D2D2D2;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../logoutbutton/resources/logoutbutton/logout.svg");
}

.eaUserButton-link {
    color: #0066B3;
    font-size: 1.2rem;
    padding: 0 18px 0 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 18px center;
    border-left: solid 1px #D2D2D2;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../assets/resources/16px/user_black_16px.svg");
}

.eaArrowRight-link {
    background-image: url("../assets/resources/16px/ArrowRight_black_16px.svg");
}

.eaLogoutButton-link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 640px) {
    .eaLogoutButton-link {
        padding-left: 34px;
        text-indent: -9999px;
        width: 0;
    }
}
.eaLogoutButton:hover {
    background: #e8e8e8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #e8e8e8));
    background: -ms-linear-gradient(top, #f2f2f2, #e8e8e8);
    background: -o-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
}
.eaHelpButton {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}
.eaHelpButton_invisible {
    display: none;
}
.eaHelpButton-list {
    z-index: 10;
    display: none;
    margin: 0;
    list-style: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 116px;
    padding: 4px 3px;
    margin: 0;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*border: #bfbfbf solid 1px;*/
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.eaHelpButton-listSeparator {
    height: 1px;
    margin: 0.4rem;
    background-color: #E6E6E6;
}
.eaHelpButton-listItem {
    padding: 0px 0.8rem;
    line-height: 24px;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.eaHelpButton-listItem-anchor {
    display: block;
    width: 100%;
}
.eaHelpButton-listItem:hover {
    background-color: #e6f0f7;
}
.eaHelpButton-listItem:active {
    background-color: #cce0f0;
}
.eaHelpButton-list-helpCenter {
    display: none;
}
.eaHelpButton-link {
    color: #0066B3;
    margin-right: 4px;
    font-size: 1.2rem;
    padding: 0 10px 0 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 18px center;
    border-left: solid 1px #D2D2D2;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../helpbutton/resources/help.svg");
}
.eaHelpButton-link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 640px) {
    .eaHelpButton-link {
        font-size: 0;
    }
}
.eaHelpButton:hover {
    background: #e8e8e8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #e8e8e8));
    background: -ms-linear-gradient(top, #f2f2f2, #e8e8e8);
    background: -o-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
    background: linear-gradient(center top, #f2f2f2 0%, #e8e8e8 100%);
}
.eaContainer-LoaderWidget {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    outline: none;
    transition: 0.3s background-color;
    background-color: rgba(255, 255, 255, 0);
}
.eaContainer-LoaderWidget_show {
    background-color: rgba(255, 255, 255, 0.6);
}
.eaContainer-LoaderWidget-content {
    width: 100%;
    text-align: center;
    padding: 40px;
    position: absolute;
    top: calc(50% - 20px);
}
.eaContainer-LoaderWidget-message {
    color: #953882;
}
.eaContainer-SystemBar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1500;
    border-top: 4px solid #0066b3;
    background: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f0f0f0));
    background: -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background: -o-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
    background: -moz-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
    background: linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
    -webkit-box-shadow: 0 2px 2px #D2D2D2;
    -moz-box-shadow: 0 2px 2px #D2D2D2;
    box-shadow: 0 2px 2px #D2D2D2;
}
.eaContainer-SystemBar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    font-size: 0;
    top: -4px;
    left: 0;
    background: #0066b3;
    background: -o-linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
    background: -moz-linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
    background: -webkit-linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
    background: -ms-linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0.1, #a2c517), color-stop(0.3, #009046), color-stop(0.5, #0082b6), color-stop(0.7, #151f77), color-stop(1, #db0050));
    background: linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
}
.eaContainer-SystemBar-name {
    display: inline-block;
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 1.4em;
    line-height: 40px;
    color: #58585A;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.eaContainer-SystemBar-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url('../container/resources/container/elogo.svg') no-repeat center center transparent;
    width: 40px;
    background-size: 20px 20px;
}
.eaContainer-SystemBar-components {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
}
.eaContainer-SystemBar-left {
    overflow: hidden;
}
.eaContainer-SystemBar-right {
    float: right;
}
@media screen and (max-width: 500px) {
    .eaContainer-SystemBar {
        z-index: 1000;
    }
}
.eaNavigationAppList {
    color: white;
    font-size: 0;
}
.eaNavigationAppList-groups {
    padding: 0;
    margin: 0;
}
.eaNavigationAppList-Group {
    list-style: none;
    min-height: 40px;
    line-height: 40px;
    border-left-width: 5px;
    border-left-style: solid;
    overflow: hidden;
    border-top: 1px solid #60605f;
}
.eaNavigationAppList-Group-header {
    opacity: 0.8;
}
.eaNavigationAppList-Group-header:hover {
    cursor: pointer;
    opacity: 1;
}
.eaNavigationAppList-Group-expander, .eaNavigationAppList-Group-title, .eaNavigationAppList-Group-icon, .directoryList-Group-icon {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.eaNavigationAppList-Group-expander {
    padding-left: 9px;
    width: 16px;
    text-align: center;
}
.eaNavigationAppList-Group-icon {
    width: 20px;
    height: 40px;
    padding: 0 7px;
}
.eaNavigationAppList-Group-icon_gears {
    background: url("../navigation-app-list/resources/gears.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_spannergear {
    background: url("../navigation-app-list/resources/spannergear.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_chart {
    background: url("../navigation-app-list/resources/chart.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_lock {
    background: url("../navigation-app-list/resources/lock.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_monitor {
    background: url("../navigation-app-list/resources/monitor.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_eye {
    background: url("../navigation-app-list/resources/eye.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-icon_spanner {
    background: url("../navigation-app-list/resources/spanner.svg") no-repeat 50%;
}
.eaNavigationAppList-Group-title {
    width: calc(100% - 70px);
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-left: 4px;
}
.eaNavigationAppList-Group-appList {
    max-height: 0;
    position: relative;
    transition: max-height 0.3s ease-out;
}
.eaNavigationAppList-Group-spinnerContainer {
    padding: 10px;
    height: 20px;
    position: relative;
}
.eaNavigationAppList-Group-spinner {
    display: block;
    margin-left: 16px;
    height: 14px;
    width: 14px;
    -webkit-animation: eaNavigationAppList-Group-rotate 0.8s infinite linear;
    animation: eaNavigationAppList-Group-rotate 0.8s infinite linear;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}
@-webkit-keyframes eaNavigationAppList-Group-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes eaNavigationAppList-Group-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.elLayouts-ActionBarBreadcrumb {
    position: relative;
    display: inline-block;
    margin-left: 0;
    height: 2.45rem;
    width: 0;
    float: left;
    -webkit-transition: none;
    transition: none;
}
.elLayouts-ActionBarBreadcrumb_show_true {
    width: 2.45rem;
    margin-left: 0.4rem;
    -webkit-transition: margin-left 0.1s, width 0.1s;
    transition: margin-left 0.1s, width 0.1s;
}
.elLayouts-ActionBarBreadcrumb-button {
    position: relative;
    background: url("../layouts/1/resources/layouts/top_section/action_bar_breadcrumb/breadcrumbDropdown.svg") no-repeat center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1.2rem;
    opacity: .8;
}
.elLayouts-ActionBarBreadcrumb-button:hover {
    opacity: 1;
}
.elWidgets-ComponentList_animated {
    opacity: 0;
    transition: opacity .3s;
}
.elWidgets-ComponentList_show {
    opacity: 1;
}
.elWidgets-ComponentList-item-icon-holder {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding-right: 3px;
    margin-top: -3px;
}
.elWidgets-ComponentList-item-icon {
    vertical-align: top;
}
.elLayouts-actionBarSeparator {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    height: 24px;
    background-color: #CCC;
    margin: 0 6px;
    font-size: 2.4rem;
}
.eaNavigation-List {
    margin-bottom: 8px;
}
.eaNavigation-List-header .eaNavigation-List-item-link {
    font-size: 14px;
    margin-left: 8px;
}
.eaNavigation-List-header {
    border-left: 5px solid transparent;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 6px;
}
.eaNavigation-List-header_selected {
    border-left: 5px solid #d1d1d1;
}
.eaNavigation-List-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.eaNavigation-List-item {
    line-height: 30px;
}
.eaNavigation-List-item-top {
    line-height: 30px;
    border-left: 5px solid transparent;
    padding: 0 0 0 10px;
}
.eaNavigation-List-item-top_selected {
    border-left: 5px solid #d1d1d1;
}
.eaNavigation-List-item-icon {
    padding-left: 4px;
    width: 16px;
    display: inline-block;
}
.eaNavigation-List-item-link {
    color: white;
    display: inline-block;
    line-height: 14px;
    margin-left: 16px;
    width: calc(100% - 46px);
}
.eaNavigation-List-item-link:hover {
    color: white;
    text-decoration: underline;
}
.eaNavigation-List-item > .eaNavigation-List-item-top > .eaNavigation-List-item-icon > *:first-child {
    display: none;
}
.eaNavigation-List-item_expanded > .eaNavigation-List-item-top > .eaNavigation-List-item-icon > *:first-child {
    display: inline-block;
}
.eaNavigation-List-item_expanded > .eaNavigation-List-item-top > .eaNavigation-List-item-icon > *:last-child {
    display: none;
}
.eaNavigation-List-item > .eaNavigation-List-items {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.elLayouts-clearFix {
    clear: both;
}
.elLayouts-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.elLayouts-Wrapper-backToTop {
    position: fixed;
    border: solid 1px #ccc;
    background: #efefef;
    padding: 5px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    bottom: -30px;
    opacity: 0;
    right: 55px;
    cursor: pointer;
    -webkit-transition: bottom 0.5s, opacity 0.3s, right 0.6s ease-in-out;
    transition: bottom 0.5s, opacity 0.3s, right 0.6s ease-in-out;
}
.elLayouts-Wrapper-backToTop_show_true {
    bottom: 10px;
    opacity: 1;
    display: block;
}

/* Commented by ramachandran. Because it taken more space in left and right side of body content*/

.elLayouts-TopSection {
    position: relative;
    /* margin-left: 20px;
				  margin-right: 20px;*/
}
/*@media screen and (max-width: 768px) {
    .elLayouts-TopSection {
        margin-left: 2.4rem;
        margin-right: 2.4rem;
    }
}*/
/*@media screen and (max-width: 480px) {
    .elLayouts-TopSection {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}*/
.elLayouts-TopSection-breadcrumb {
    padding-top: 1.2rem;
    margin-bottom: -1.2rem;
    padding-left: 1.2rem;
}
.elLayouts-TopSection-title {
    padding: 0;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-left: 1.2rem;
}
.elLayouts-QuickActionBar {
    position: relative;
    height: 32px;
}
.elLayouts-QuickActionBar_position_fixed {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
}
.elLayouts-QuickActionBar_position_fixed .elLayouts-QuickActionBar-contents {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #CCCCCC;
}
.elLayouts-QuickActionBar-contents {
    height: 32px;
    padding: 0.4rem 0.2rem;
    background-color: #e8e8e8;
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    box-sizing: border-box;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.elLayouts-QuickActionBar-center {
    overflow: auto;
}
.elLayouts-QuickActionBar-defaultCommands {
    opacity: 1;
    -webkit-transition: opacity 0.1s linear, transform 0.1s linear;
    transition: opacity 0.1s linear, transform 0.1s linear;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.elLayouts-QuickActionBar-contextCommands {
    opacity: 0;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: opacity 0.1s linear, transform 0.1s linear;
    transition: opacity 0.1s linear, transform 0.1s linear;
}
.elLayouts-QuickActionBar_context .elLayouts-QuickActionBar-contents {
    background-color: #f3f3f3;
    border-bottom: 2px solid #65cbe5;
    box-sizing: border-box;
    height: 32px;
}
.elLayouts-QuickActionBar_context .elLayouts-QuickActionBar-defaultCommands {
    opacity: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}
.elLayouts-QuickActionBar_context .elLayouts-QuickActionBar-contextCommands {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.elLayouts-QuickActionBar_context:after {
    content: "";
    width: calc(100% - 6px);
    height: 2px;
    margin: 30px 0 0 3px;
    display: block;
    position: absolute;
    border-radius: 2px;
    z-index: -1;
}
.elLayouts-QuickActionBar-iconHolder {
    display: inline-block;
    vertical-align: middle;
    height: 1.6rem;
}
.elLayouts-QuickActionBar-separator {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #CCCCCC;
    margin: 0;
    height: 2.4rem;
}
.elLayouts-QuickActionBar-breadcrumb {
    height: 2.4rem;
    float: left;
}
.elLayouts-QuickActionBar-commands {
    display: inline-block;
    margin: 0;
    position: absolute;
}
.elLayouts-QuickActionBar-commands-separator {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #CCCCCC;
    margin: 0 8px;
    height: 2.4rem;
}
.elLayouts-QuickActionBar-commandsBlock {
    vertical-align: middle;
    display: inline-block;
}
.elLayouts-QuickActionBar-commandsCompact {
    vertical-align: middle;
    display: none;
}
.elLayouts-QuickActionBar-commandsCompactMedium {
    display: none;
    vertical-align: middle;
}
.elLayouts-QuickActionBar-commands_compact .elLayouts-QuickActionBar-commandsBlock, .elLayouts-QuickActionBar-commands_compact .elLayouts-QuickActionBar-commandsCompactMedium {
    visibility: hidden;
    position: absolute;
}
.elLayouts-QuickActionBar-commands_compact .elLayouts-QuickActionBar-commandsCompact {
    display: block;
}
.elLayouts-QuickActionBar-commands_compactMedium .elLayouts-QuickActionBar-commandsBlock, .elLayouts-QuickActionBar-commands_compactMedium .elLayouts-QuickActionBar-commandsCompact {
    visibility: hidden;
    position: absolute;
}
.elLayouts-QuickActionBar-commands_compactMedium .elLayouts-QuickActionBar-commandsCompactMedium {
    display: block;
}
.elLayouts-QuickActionBar-commands_show_false {
    display: none;
}
.elLayouts-QuickActionBar-left, .elLayouts-QuickActionBar-leftSeparator {
    float: left;
    height: 100%;
}
.elLayouts-QuickActionBar-left:empty ~ .elLayouts-QuickActionBar-leftSeparator, .elLayouts-QuickActionBar-right:empty ~ .elLayouts-QuickActionBar-rightSeparator {
    display: none;
}
.elLayouts-QuickActionBar-right, .elLayouts-QuickActionBar-rightSeparator {
    float: right;
    height: 100%;
}
.elLayouts-QuickActionBar-right {
    margin-right: 5px;
}
.eaHome-ContentRegion-info {
    background-color: #3385c2;
    margin: 12px 0;
    border-radius: 3px;
    white-space: nowrap;
    clear: both;
    position: relative;
    overflow: hidden;
}
.eaHome-ContentRegion-infoLeft, .eaHome-ContentRegion-infoRight, .eaHome-ContentRegion-infoDownloadLeft, .eaHome-ContentRegion-infoDownloadRight {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}
.eaHome-ContentRegion-infoLeft {
    padding: 6px 12px;
    width: calc(100% - 300px);
    white-space: normal;
}
.eaHome-ContentRegion-infoRight {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    padding: 16px;
    background-color: #0066b3;
}
.eaHome-ContentRegion-infoTitle {
    padding: 10px 0;
    font-size: 16px;
    margin: 0;
    color: white;
}
.eaHome-ContentRegion-infoDesc {
    padding: 0 0 10px 0;
    color: #9cc4e2;
    margin: 0;
}
.eaHome-ContentRegion-infoWantDemo {
    margin: 0;
    font-size: 16px;
    color: white;
}
.eaHome-ContentRegion-infoGetCode {
    margin: 5px 0 0 0;
    color: white;
}
.eaHome-ContentRegion-infoDownloadRight {
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.eaHome-ContentRegion-infoDownloadIcon {
    vertical-align: middle;
    height: 50px;
    width: 30px;
    background-image: url("../resources/download.svg");
}
@media screen and (max-width: 660px) {
    .eaHome-ContentRegion-infoLeft {
        width: 100%;
    }
    .eaHome-ContentRegion-infoRight {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
}
.elLayouts-Dashboard {
    margin-top: 20px;
    /*height: 100%;*/
}
.elLayouts-Dashboard-column {
    display: inline-block;
}
.elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column {
    width: calc(30% - 24px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column:nth-child(2) {
    width: calc(40% - 24px);
}
.elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column:last-child {
    margin-right: 0;
}
.elLayouts-Dashboard-content_three-columns > .elLayouts-Dashboard-column {
    width: calc(33.33% - 24px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_three-columns > .elLayouts-Dashboard-column:last-child {
    margin-right: 0;
}
.elLayouts-Dashboard-content_four-columns > .elLayouts-Dashboard-column {
    width: calc(25% - 27px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_four-columns > .elLayouts-Dashboard-column:last-child {
    margin-right: 0;
}
.elLayouts-Dashboard-content_two-columns > .elLayouts-Dashboard-column {
    width: calc(50% - 18px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_two-columns > .elLayouts-Dashboard-column:last-child {
    margin-right: 0;
}
.elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column {
    width: calc(15% - 18px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column:last-child {
    width: calc(85% - 18px);
    margin-right: 0;
}
.elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column {
    width: calc(30% - 18px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column:last-child {
    width: calc(70% - 18px);
    margin-right: 0;
}
.elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column {
    width: calc(70% - 18px);
    margin-right: 36px;
}
.elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column:last-child {
    width: calc(30% - 18px);
    margin-right: 0;
}
.elLayouts-Dashboard-content_one-column > .elLayouts-Dashboard-column {
    width: 100%;
}
@media (max-width: 600px) {
    .elLayouts-Dashboard-column {
        min-height: none;
    }
    .elLayouts-Dashboard-content_two-columns > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_three-columns > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column:nth-child(2), .elLayouts-Dashboard-content_four-columns > .elLayouts-Dashboard-column {
        width: 100%;
        margin: 0;
        height: auto;
    }
    .elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column:last-child, elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column:last-child .elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column:last-child {
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    .elLayouts-Dashboard-column-footer {
        height: 0;
    }
}
@media (min-width: 600px) and (max-width: 992px) {
    .elLayouts-Dashboard-column {
        min-height: none;
    }
    .elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column .elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_three-columns > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column, .elLayouts-Dashboard-content_four-columns > .elLayouts-Dashboard-column {
        width: calc(50% - 18px);
        margin-right: 36px;
    }
    .elLayouts-Dashboard-content_two-columns-70-30 > .elLayouts-Dashboard-column:nth-child(even), .elLayouts-Dashboard-content_two-columns-15-85 > .elLayouts-Dashboard-column:nth-child(even) .elLayouts-Dashboard-content_two-columns-30-70 > .elLayouts-Dashboard-column:nth-child(even), .elLayouts-Dashboard-content_three-columns > .elLayouts-Dashboard-column:nth-child(even), .elLayouts-Dashboard-content_three-columns-30-40-30 > .elLayouts-Dashboard-column:nth-child(even), .elLayouts-Dashboard-content_four-columns > .elLayouts-Dashboard-column:nth-child(even) {
        margin-right: 0;
        width: calc(50% - 18px);
    }
}
.eaHome-AppList-group {
    border-left-width: 5px;
    border-left-style: solid;
    padding-bottom: 32px;
}
.eaHome-AppList-group:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}
.eaHome-AppList-groupHeader {
    margin: 0;
    font-size: 18px;
    padding: 10px;
}
.eaHome-AppList-groupCaption {
    vertical-align: middle;
}
.eaHome-AppList-groupIcon {
    vertical-align: middle;
    margin-right: 5px;
}
.eaHome-AppList-groupIcon_eye {
    background-image: url("../resources/eye.svg");
}
.eaHome-AppList-groupIcon_lock {
    background-image: url("../resources/lock.svg");
}
.eaHome-AppList-groupIcon_spanner {
    background-image: url("../resources/spanner.svg");
}
.eaHome-AppList-apps {
    list-style: none;
    padding: 0 10px;
    margin: 0;
}
.eaHome-AppList-app {
    line-height: 30px;
    display: inline-block;
    width: 250px;
}
.eaHome-AppList-appLink {
    vertical-align: middle;
    padding-left: 8px;
}
.elLayouts-Dashboard-item {
    background-color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 3px;
    padding: 8px;
    padding-top: 0;
    margin-bottom: 10px;
    -webkit-animation: elLayouts-Dashboard-item-fadein 1s;
    -moz-animation: elLayouts-Dashboard-item-fadein 1s;
    -ms-animation: elLayouts-Dashboard-item-fadein 1s;
    -o-animation: elLayouts-Dashboard-item-fadein 1s;
    animation: elLayouts-Dashboard-item-fadein 1s;
    /* Firefox < 16 */
    /* Safari, Chrome and Opera > 12.1 */
    /* Internet Explorer */
    /* Opera < 12.1 */
}
@keyframes elLayouts-Dashboard-item-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes elLayouts-Dashboard-item-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes elLayouts-Dashboard-item-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes elLayouts-Dashboard-item-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes elLayouts-Dashboard-item-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.elLayouts-Dashboard-item_dragged {
    -webkit-animation: none;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: none;
    /* Firefox < 16 */
    -ms-animation: none;
    /* Internet Explorer */
    -o-animation: none;
    /* Opera < 12.1 */
    animation: none;
    border-color: #dfdfdf;
}
.elLayouts-Dashboard-item:last-child {
    padding-bottom: 0;
}
.elLayouts-Dashboard-item-top {
    padding-top: 0;
    margin-top: 0;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
}
.elLayouts-Dashboard-item-top:hover .elLayouts-Dashboard-item-top-actions {
    opacity: 1;
}
.elLayouts-Dashboard-item-top-actions {
    opacity: 0.5;
}
.elLayouts-Dashboard-item-top-actions_fullAlpha {
    opacity: 1;
}
.elLayouts-Dashboard-item-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 0;
    margin: 0;
    display: inline-block;
    float: left;
}
.elLayouts-Dashboard-item-header_draggable {
    cursor: move;
}
.elLayouts-Dashboard-item_dragged {
    z-index: 1001;
}
.elLayouts-Dashboard-item-menu {
    margin: 0;
    display: none;
}
.elLayouts-Dashboard-item-menu_show {
    display: inline-block;
}
.elLayouts-Dashboard-item-settings {
    display: none;
}
.elLayouts-Dashboard-item-settings_show {
    display: inline-block;
}
.elLayouts-Dashboard-item-separator {
    display: none;
}
.elLayouts-Dashboard-item-separator_show {
    display: inline-block;
}
.elLayouts-Dashboard-item-Commands {
    margin: 0;
}
.elLayouts-Dashboard_one-column > .elLayouts-Dashboard-column > .elLayouts-Dashboard-column-content > .elLayouts-Dashboard-item > .elLayouts-Dashboard-item-top .elLayouts-Dashboard-item-maximize-minimize {
    display: none;
}
.eaHome-Notifications {
    position: relative;
}
.eaHome-Notifications-none {
    display: none;
    text-align: center;
}
.eaHome-Notifications-body {
    background-color: #f8f8f8;
}
.eaHome-Notifications-notification {
    border-bottom: 1px solid #ddd;
    transition: opacity 0.4s linear, transform 0.4s ease-in-out;
    position: relative;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
}
.eaHome-Notifications-notificationClose {
    position: absolute;
    right: 5px;
    top: 2px;
}
.eaHome-Notifications-link {
    padding: 2px 0;
    margin: 0;
}
.eaHome-Notifications-notification:not(:first-child) .eaHome-Notifications-link {
    padding-top: 6px;
}
.eaHome-Notifications-icon {
    margin-right: 6px;
}
.eaHome-Notifications-anchor {
    font-size: 14px;
    vertical-align: middle;
}
.eaHome-Notifications-description {
    margin: 2px 0;
    color: #777;
}
.eaHome-Notifications-timestamp {
    margin: 2px 0;
    color: #a4a4a4;
}
.eaHome-InformationLinks-item {
    background-color: #f8f8f8;
    border-left: 4px solid #d2d2d2;
    margin-bottom: 10px;
    padding: 8px;
}
.eaHome-InformationLinks-title {
    margin: 0 0 6px 0;
    font-size: 16px;
}
.eaHome-InformationLinks-description {
    color: #8e8e8e;
    margin: 0;
}
.eaHome-InformationLinks-link {
    margin: 10px 0 0 0;
}
.eaHome-InformationLinks-itemLeft {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: middle;
}
.eaHome-InformationLinks-itemRight {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.eaHome-InformationLinks-icon {
    height: 30px;
    width: 30px;
    background-color: #0066B3;
    border-radius: 100%;
}
.eaHome-InformationLinks-arrow {
    width: 30px;
    height: 30px;
    margin-left: 1px;
}
.elLayouts-Dashboard-column {
    vertical-align: top;
}
.elLayouts-Dashboard-column-footer {
    height: 70px;
}
