<div class="container-fluid dashboard">
  <div class="row sort-container">
    <div class="col-md-8">
      <div class="row dh-sort-container" dashboard-sort>
        <div class="col-md-4 dashboard-container dh-sort-component">
          <div class="row">
            <div class="info-tiles tiles-success">
              <div class="tiles-heading">
                <a href="#/party/">
                  <span>
                    <i class="fa fa-plus plus-icon"></i>
                  </span>
                  <span class="text-center dashboard-title title_font">
                    Party Relationship</span>
                </a>
              </div>
              <div class="tiles-body">
                <div class="text-center dashboard-body-count">55</div>
              </div>
            </div>
          </div>
          <div class="row">
            <panel panel-class="panel-default no-padding" heading="List of Parties">
              <div class="table-responsive">
                <table class="table">
                  <tbody class="selects">
                    <tr>
                      <td class="col-xs-1">
                        <i class="fa fa-circle list-icon green-color"></i>
                        <td class="col-xs-7 list-content">First Party</td>
                      </tr>
                      <tr>
                        <td class="col-xs-1">
                          <i class="fa fa-circle list-icon green-color"></i>
                          <td class="col-xs-7 list-content">Second Party</td>
                        </tr>
                        <tr>
                          <td class="col-xs-1">
                            <i class="fa fa-circle list-icon green-color"></i>
                            <td class="col-xs-7 list-content">Third Party</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </panel>
                </div>
              </div>
              <!-- <div class="col-md-4 dashboard-container dh-sort-component">
                <div class="row">
                  <a class="info-tiles tiles-midnightblue" href="#/beneficiary/!/">
                    <div class="tiles-heading">
                      <span>
                        <i class="fa fa-plus plus-icon"></i>
                      </span>
                      <span class="text-center dashboard-title">
                        Beneficiary</span>
                    </div>
                    <div class="tiles-body">
                      <div class="text-center dashboard-body-count">25</div>
                    </div>
                  </a>
                </div>
                <div class="row">
                  <panel panel-class="panel-default no-padding" ng-drag="true" heading="List of Beneficiary">
                    <div class="table-responsive">
                      <table class="table" style="margin-bottom: 0px;">
                        <tbody class="selects">
                          <tr>
                            <td class="col-xs-1">
                              <i class="fa fa-circle list-icon red-color"></i>
                              <td class="col-xs-7 list-content">First law Firm</td>
                            </tr>
                            <tr>
                              <td class="col-xs-1">
                                <i class="fa fa-circle list-icon red-color"></i>
                                <td class="col-xs-7 list-content">First law Firm</td>
                              </tr>
                              <tr>
                                <td class="col-xs-1">
                                  <i class="fa fa-circle list-icon red-color"></i>
                                  <td class="col-xs-7 list-content">First law Firm</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </panel>
                      </div>
                    </div> -->
                  </div>

                </div>
                <div class="" style="position:absolute;z-index:23" id="cloned_items"></div>
              </div>
            </div>
