<div class="beneficiary-bg">
  <fieldset>
    <legend>Background</legend>
    <form role="form" class="form-horizontal form-elements" name="user_details">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label text-left font-bold">Have you ever claimed to be a U.S. citizen (in writing or any other way)?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label text-left font-bold">Have you ever registered to vote in any Federal, state, or local election in the United States?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label  class="col-sm-6 col-md-6 control-label text-left font-bold">Have you ever voted in any Federal, State, or local election in the United States?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label text-left font-bold">Since becoming a lawful permanent resident, have you ever failed to file a required Federal, State, or local tax return?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label font-bold">Do you owe any Federal, State, or local taxes that are overdue?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label font-bold">Do you have any title of nobility in any foreign country?<span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
          <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever been declared legally incompetent or been confined to a mental institution within the last five years?
          <span class="p-l-8"> :</span></label>
          <div class="col-sm-2 col-md-2 p-t-8">
            <label class="control-label">Yes</label>
          </div>
          <div class="col-sm-4 col-md-4 p-t-8">
            <label class="control-label">Additional Info</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Since becoming a Lawful Permanent Resident of the United States have you ever called yourself a "nonresident" on a Federal, State, or local tax return?
            <span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
         <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label  class="col-sm-6 col-md-6 control-label font-bold">Since becoming a Lawful Permanent Resident of the United States have you ever failed to file a Federal, State, or local tax return because you considered yourself to be a "nonresident"?
            <span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever been a habitual drunkard?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label  class="col-sm-6 col-md-6 control-label font-bold">Have you ever been a prostitute, or procured anyone for prostitution?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever sold or smuggled controlled substances, illegal drugs or narcotics?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label  class="col-sm-6 col-md-6 control-label font-bold">Have you ever been married to more than one person at the same time?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever helped anyone enter or try to enter the United States illegally?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label  class="col-sm-6 col-md-6 control-label font-bold">Have you ever gambled illegally or received income from illegal gambling?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever failed to support your dependents or to pay alimony?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label  class="col-sm-6 col-md-6 control-label font-bold">Have you ever given false or misleading information to any U.S. Government official while applying for any immigration benefit or to prevent deportation, exclusion, or removal?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12  col-sm-12 col-md-12">
            <label class="col-sm-6 col-md-6 control-label font-bold">Have you ever lied to any U.S. Government official to gain entry or admission into the United States?<span class="p-l-8"> :</span></label>
            <div class="col-sm-2 col-md-2 p-t-8">
              <label class="control-label">Yes</label>
            </div>
            <div class="col-sm-4 col-md-4 p-t-8">
              <label class="control-label">Additional Info</label>
            </div>
          </div>
        </div>

      <div class="text-center col-md-12">
        <a ui-sref="home.beneficiaryFamilyView.history" class="btn btn-default">Next</a>
      </div>
  </form>
</fieldset>
</div>
